.ui.container
  Welcome to the TEACH program training tracker. Use the navigation bar above to view or edit procedures.
  %br
  %br
  %iframe{:src => "https://docs.google.com/document/d/e/2PACX-1vRtFixlrfa5Mav0f6L830Mdd00LV25C4hMeCz1Dx5j-YrWSEEI7NgMpaTVg3BDw5MCMj3ZhMVfKOlR_/pub?embedded=true&"}
