%a{:href => "/procedures/new"}
  .ui.buttons
    %button.ui.labeled.icon.button
      %i.plus.icon
      Record New Procedure

-# = form_for_filterrific @filterrific do |f|
-#   = render_filterrific_spinner
= render(                           |
    partial: 'procedures/list',       |
    locals: { procedures: @procedures } |
  )                                 |
