
-# autofill IF resident is logged in?

.ui.buttons
	%button.ui.labeled.icon.button
		%i.left.chevron.icon
		%a{:href => "/procedures"} Back to Procedures List

.ui.text.container
	%form{ :class => "ui form", "accept-charset" => "UTF-8", :method => "post", :id => "new_procedure", :action => "/procedures"}
		%input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
		%div.field
			%label{:for => "name"} Resident Name:
			- if @allowNameEntry == true
				%input{:name => "procedure[resident]", :type => "text", :value => ""}/
			- else
				%input{:name => "procedure[resident]", :disabled => "", :placeholder => @residentName, :tabindex => "-1", :type => "text", :value => @residentName}/
		%div.field
			%label{:for => "date"} Date:
			%input{:name => "procedure[date]", :type => "date", :value => Date.today}/
		%div.field 
			%label{:for => "procedure"} Procedure:
			%select{:name => "procedure[name]", :multiple => false}
				%option{value: 'MVA'} MVA
				%option{value: 'EVA'} EVA
				%option{value: 'MAB'} MAB
				%option{value: 'U/S'} U/S
				%option{value: 'IUD'} IUD
				%option{value: 'Implant'} Implant
				%option{value: 'Options'} Options Counseling
				%option{value: 'Contraceptive'} Contraceptive Counseling
		%div.field 
			%label{:for => "gest"} Weeks Gestation:
			%input{:name => "procedure[gestation]", :type => "number", :value => ""}/
		%div.field
			%label{:for => "assistance"} Level of Assistance:
			%select{:name => "procedure[assistance]", :multiple => false}
				%option{value: 'Observed'} Observed
				%option{value: 'Assisted'} Assisted
				%option{value: 'All'} All
				%option{value: 'Solo'} Solo
		%div.field
			%label{:for => "notes"} Notes:
			%input{:name => "procedure[notes]", :type => "text", :value => ""}/
		%input{:type => "submit", :name => "commit", :value => "Create Procedure", :class => "ui primary button"}

-# resident status inferred from resident
-# confirmation status is unconfirmed
-# create many procedure objects for each selected procedure 
-# http://www.randomsnippets.com/2008/02/21/how-to-dynamically-add-form-elements-via-javascript/
-# form behaviors
